.footer {
    background-color: #6e44ff;
    padding: 2rem 0;
    color: white;
    margin-top: auto; /* Coloca o Footer no final da página */
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-text {
    font-size: 1rem;
  }
  
  .footer-links {
    display: flex;
    gap: 1rem;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #f2f2f2;
  }
  